@charset "UTF-8";
:root {
  --accent-clr-elmnts: #2196f3;
  --clr-btns-accent: #2196f3;
  --clr-btns-hover: #188ce8;
  --clr-btns-nrml: #f5f4fa;
  --color-contacts-ftr: rgba(255, 255, 255, 0.6);
  --color-text-primary: #757575;
  --tittle-clr-bold: #212121;
  --fill-icon-svg: #afb1b8;
  --icons-clr-primary: #afb1b8;
  --font-fmly-logo: "Raleway", sans-serif;
  --text-wght-nrml: 400;
  --text-wght-nrml2: 500;
  --tittle-wght-bold: 700;
  --tittle-wght-bol2: 900;
  --anim-main-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --test-outline: 1px solid tomato;
  --1-brckpnt: 480px;
  --2-brckpnt: 768px;
  --3-brckpnt: 1200px;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* при навігації клавішею TAB забирав чорний аутлайн  */
*:focus,
*:focus-within {
  outline: transparent;
}

body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: var(--color-text-primary);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

/* -------------------------- ГЛОБАЛЬНІ КЛАСИ -------------------------- */
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.section.--no-padding {
  padding: 0px;
}
.section.--no-top-padding {
  padding-top: 0px;
}
.section.--no-bottom-padding {
  padding-bottom: 0px;
}
@media screen and (max-width: 1199px) {
  .section.--only-desktop {
    display: none;
  }
}
.section.--header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  white-space: nowrap;
  padding-top: 0;
  padding-bottom: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}
.section.--footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.section-tittle {
  font-weight: var(--tittle-wght-bold);
  font-size: 36px;
  line-height: 1.7;
  text-align: center;
  color: var(--tittle-clr-bold);
  margin-top: 0px;
  margin-bottom: 50px;
}

.container {
  padding: 0px 15px;
  margin: 0px auto;
  /*outline: var(--test-outline);*/
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }
}

.--g-flex {
  display: flex;
}
.--g-flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.--g-flex-start {
  display: flex;
  align-content: center;
  justify-content: start;
}
.--g-flex-sp-btwn {
  display: flex;
  align-content: center;
  justify-content: center;
}
.--g-flex-column-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.--centered {
  margin: 0 auto 0;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* -------------------------- НОРМАЛІЗАЦІЯ -------------------------- */
/* ЗАГОЛОВКИ */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

/* ПАРАГРАФИ */
p {
  margin-top: 0;
}

/* СПИСКИ */
ul {
  list-style: none;
  padding-inline-start: 0px;
  margin: 0px;
}

/* ПОСИЛАННЯ */
a {
  text-decoration: none;
  color: inherit;
}

/* адресні дані */
address {
  font-style: normal;
}

/* кнопки */
button {
  cursor: pointer;
}

/* зображення */
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* СКРИТІ ЕЛЕМЕНТИ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* СОЦІАЛЬНІ МЕРЕЖІ */
.socials {
  margin-top: 60px;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color var(--anim-main-timing-function), fill var(--anim-main-timing-function);
}
.socials__list {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 206px;
}
.socials__tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .socials {
    margin-top: 0;
    margin-right: auto;
  }
}
@media screen and (min-width: 1200px) {
  .socials {
    margin-top: 0;
    margin-left: 0;
    margin-right: 93px;
  }
  .socials__tittle {
    text-align: start;
  }
}

.logo {
  display: block;
  font-family: var(--font-fmly-logo);
  font-weight: var(--tittle-wght-bold);
  font-size: 24px;
  line-height: 1.2;
  color: var(--accent-clr-elmnts);
}
.logo.hdr {
  padding: 16px 0 16px;
}
.logo.hdr .black {
  color: #000000;
}
.logo.ftr {
  margin: 0 auto 20px;
}
.logo.ftr .--text-white {
  color: #ffffff;
}
@media screen and (min-width: 768px) {
  .logo.hdr {
    padding: 26px 0 26px;
    margin-right: 88px;
  }
  .logo.ftr {
    margin: 0 0 20px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
  }
  .logo.hdr {
    padding: 25px 0 25px;
    margin-right: 93px;
  }
}

.btn {
  position: relative;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  transition: color var(--anim-main-timing-function), border-color var(--anim-main-timing-function), box-shadow var(--anim-main-timing-function), background-color var(--anim-main-timing-function), fill var(--anim-main-timing-function);
}
.btn.--big-blue {
  font-weight: var(--tittle-wght-bold);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  min-width: 200px;
  max-width: fit-content;
  height: 50px;
  padding: 10px 32px;
  border-radius: 4px;
  fill: #ffffff;
  background-color: var(--clr-btns-hover);
}
.btn.--big-blue:focus, .btn.--big-blue:hover {
  background-color: var(--clr-btns-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.btn.--big-blue:active {
  background-color: #ffffff;
  border-color: var(--clr-btns-hover);
  color: var(--clr-btns-hover);
  fill: var(--clr-btns-hover);
}
.btn.--big-blue.--with-icon {
  display: flex;
  align-items: center;
  padding-right: 28px;
  padding-left: 28px;
}
.btn.--big-blue.--with-icon:active {
  fill: var(--clr-btns-hover);
}
.btn.--big-blue .--btn-icon-svg {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.btn.--little-blue {
  color: var(--tittle-clr-bold);
  font-weight: var(--text-wght-nrml2);
  font-size: 16px;
  line-height: 1.6;
  padding: 6px 22px;
  margin: 0px;
  background-color: var(--clr-btns-nrml);
}
.btn.--little-blue:focus, .btn.--little-blue:hover {
  background-color: var(--clr-btns-accent);
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.btn.--little-blue:active {
  background-color: var(--clr-btns-nrml);
  color: var(--clr-btns-accent);
  border-color: solid var(--clr-btns-accent);
}
.btn.--little-blue.current {
  background-color: var(--clr-btns-accent);
  color: #ffffff;
}
.btn.--burger-menu {
  width: 40px;
  height: 40px;
  padding: 12px 8px;
  border-radius: 4px;
  margin-left: auto;
  background-color: #ffffff;
  border-style: none;
}
.btn.--burger-menu svg {
  width: 24px;
  height: 16px;
}
.btn.--burger-menu:focus, .btn.--burger-menu:hover {
  fill: var(--clr-btns-accent);
}
@media screen and (min-width: 768px) {
  .btn.--burger-menu {
    display: none;
  }
}
.btn.--close-modal {
  position: absolute;
  top: 8px;
  left: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: box-shadow var(--anim-main-timing-function);
}
.btn.--close-modal:focus, .btn.--close-modal:hover {
  fill: var(--clr-btns-accent);
}
.btn.--close-modal svg {
  width: 12px;
  height: 12px;
}
.btn.--close-mobile-menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  padding: 10px;
  background-color: #fff;
  transition: fill var(--anim-main-timing-function);
  /* кнопка закриття */
  /*&__close {
    position: absolute;
    top: 8px;
    left: 490px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: box-shadow var(--anim-main-timing-function);
    & svg {
      width: 12px;
      height: 12px;
    }
    &:focus,
    &:hover {
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
    }
  }*/
}
.btn.--close-mobile-menu svg {
  width: 20px;
  height: 20px;
}
.btn.--close-mobile-menu:focus, .btn.--close-mobile-menu:hover {
  fill: var(--clr-btns-accent);
}
.btn.--social {
  display: block;
  width: 44px;
  height: 44px;
  display: block;
  padding: 12px;
  border-radius: 50%;
  transition: background-color var(--anim-main-timing-function), fill var(--anim-main-timing-function);
}
.btn.--social.--socials-footer {
  fill: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}
.btn.--social.--socials-footer:focus, .btn.--social.--socials-footer:hover {
  background-color: var(--clr-btns-accent);
}
.btn.--social.--worker-card {
  background-color: #ffffff;
  fill: var(--fill-icon-svg);
}
.btn.--social.--worker-card:focus, .btn.--social.--worker-card:hover {
  background-color: var(--clr-btns-accent);
  fill: #ffffff;
}
.btn.--social svg {
  display: block;
  width: 20px;
  height: 20px;
}

/* --------------------------- МОДАЛЬНЕ ВІКНО */
/* модальне вікно */
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  overflow: auto;
  padding: 40px;
  width: 96%;
  max-width: 450px;
  height: 96%;
  max-height: 625px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--anim-main-timing-function), visibility var(--anim-main-timing-function);
}
@media screen and (min-width: 768px) {
  .modal {
    width: 96%;
    max-width: 528px;
    height: 96%;
    max-height: 625px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 96%;
    max-height: 580px;
  }
}

/* кнопка закриття */
.button-close {
  position: absolute;
  top: 8px;
  left: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-style: none;
  background-color: #ffffff;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: box-shadow var(--anim-main-timing-function);
}
.button-close svg {
  width: 12px;
  height: 12px;
}
.button-close:focus, .button-close:hover {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}

/* --------------------------- BACKDROP BLACK */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--anim-main-timing-function), visibility var(--anim-main-timing-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

/* --------- КОНТАКТНА ФОРМА --------- */
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form-name {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}
.form-element-lebel {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.form-input__container {
  display: block;
  position: relative;
  width: 100%;
  height: 40px;
  fill: #212121;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: fill var(--anim-main-timing-function), border-color var(--anim-main-timing-function);
}
.form-input__container.--name {
  margin: 4px 0 10px;
}
.form-input__container.--phone, .form-input__container.--email {
  margin: 4px 0 10px;
}
.form-input__container.--comment {
  height: 120px;
  margin: 4px 0 20px;
  padding: 12px 16px;
}
.form-input__container textarea {
  resize: none;
}
.form-input__container .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 12px;
  height: 100%;
}
.form-input__container .icon svg {
  width: 18px;
  height: 18px;
}
.form-input__container:focus-within, .form-input__container:focus, .form-input__container:hover {
  fill: var(--accent-clr-elmnts);
  border-color: var(--accent-clr-elmnts);
}
.form-input__field {
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
}
.form-input__field.--name, .form-input__field.--phone, .form-input__field.--email {
  font-size: 14px;
  line-height: inherit;
  letter-spacing: inherit;
  padding: 13px 20px 13px 42px;
}
.form-input__field.--coment {
  padding: 12px 16px;
  resize: none;
}
.form__checkbox:checked + .form__checkbox--pseudo::before {
  background-image: url(../icons/icons-studio/icons-modal/icons-contacts-form/checked.svg);
}
.form__checkbox--pseudo {
  display: block;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}
.form__checkbox--pseudo a {
  color: var(--accent-clr-elmnts);
  text-decoration: underline;
}
.form__checkbox--pseudo a:focus {
  outline: 2px solid #212121;
}
.form__checkbox--pseudo::before {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: -7px;
  width: 16px;
  height: 15px;
  transform: translateX(-100%);
  background-image: url(../icons/icons-studio/icons-modal/icons-contacts-form/nochecked.svg);
}
.form__checkbox:focus + .form__checkbox--pseudo::before {
  outline: 2px solid #212121;
}

.nav-panel {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-panel {
    display: block;
    margin-right: auto;
  }
  .nav-panel .nav-list {
    display: flex;
    font-weight: var(--text-wght-nrml2);
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .nav-panel .nav-list li + li {
    margin-left: 50px;
  }
  .nav-panel .nav-list .nav-link {
    display: block;
    color: var(--tittle-clr-bold);
    padding-top: 32px;
    padding-bottom: 32px;
    transition: color 250ms var(--anim-main-timing-function);
  }
  .nav-panel .nav-list .nav-link:focus, .nav-panel .nav-list .nav-link:hover {
    color: var(--accent-clr-elmnts);
  }
  .nav-panel .nav-list .nav-link:active {
    color: var(--accent-clr-elmnts);
  }
  .nav-panel .nav-list .nav-link.current {
    position: relative;
    display: block;
    color: var(--accent-clr-elmnts);
  }
  .nav-panel .nav-list .nav-link.current::after {
    position: absolute;
    content: "";
    bottom: -1px;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--accent-clr-elmnts);
  }
}

/* КОНТАКТИ ШАПКА */
.contacts {
  display: none;
}
@media screen and (min-width: 768px) {
  .contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    font-weight: var(--text-wght-nrml2);
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .contacts .mail-hdr, .contacts .tel-hdr {
    display: flex;
    align-items: center;
    color: var(--color-text-primary);
    transition: color var(--anim-main-timing-function), fill var(--anim-main-timing-function);
  }
  .contacts .mail-hdr .icon-mail, .contacts .tel-hdr .icon-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts .mail-hdr .icon-tel, .contacts .tel-hdr .icon-tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts .mail-hdr:focus, .contacts .mail-hdr:hover, .contacts .mail-hdr:active, .contacts .tel-hdr:focus, .contacts .tel-hdr:hover, .contacts .tel-hdr:active {
    color: var(--accent-clr-elmnts);
    fill: var(--accent-clr-elmnts);
  }
}
@media screen and (min-width: 1200px) {
  .contacts {
    flex-direction: row;
  }
  .contacts .mail-hdr, .contacts .tel-hdr {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .contacts li:not(:first-child) {
    margin-left: 50px;
  }
}

/* МОБІЛЬНЕ МЕНЮ */
@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 101;
    padding: 10px 15px;
    background-color: #ffffff;
    outline: 1px solid tomato;
  }
  .mobile-menu__container {
    position: relative;
    width: 100%;
    height: 100%;
    outline: 1px solid tomato;
  }
  .mobile-menu .btn__close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #fff;
    transition: fill var(--anim-main-timing-function);
  }
  .mobile-menu .btn__close svg {
    width: 20px;
    height: 20px;
  }
  .mobile-menu .btn__close:focus, .mobile-menu .btn__close:hover {
    fill: var(--clr-btns-accent);
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* ----------ГЕРОЙ */
.hero {
  background-color: #c4c4c4;
  height: 400px;
  width: 100%;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images_hw8/hero_bckrnd/hero-mobile2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* ТЕКСТ ГЕРОЙ */
}
.hero__hero-text {
  font-weight: var(--tittle-wght-bol2);
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 26px;
  width: 355px;
  margin: 0px auto 28px;
}
@media screen and (min-width: 768px) {
  .hero {
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)) url(../images_hw8/hero_bckrnd/hero-desctop.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images_hw8/hero_bckrnd/img_hero.jpg);
  }
  .hero__hero-text {
    font-size: 44px;
    width: 605px;
  }
}

/* ----------ОСОБЛИВОСТІ */
.specials-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.specials-list__item {
  display: block;
  width: 100%;
}
.specials-list__item::before {
  display: block;
  content: "";
  height: 120px;
  width: 100%;
  background-color: #f5f4fa;
  background-size: 70px 70px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .specials-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .specials-list__item {
    width: 270px;
  }
}
.specials-list__tittles {
  font-weight: var(--tittle-wght-bold);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--tittle-clr-bold);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}
.specials-list__text {
  text-align: center;
  line-height: 1.7;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .specials-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .specials-list__tittles {
    text-align: start;
  }
  .specials-list__text {
    text-align: start;
  }
}

.--icon-antena::before {
  background-image: url(../icons/icons-studio/icons-specials/antenna.svg);
}
.--icon-clock::before {
  background-image: url(../icons/icons-studio/icons-specials/clock.svg);
}
.--icon-diagram::before {
  background-image: url(../icons/icons-studio/icons-specials/diagram.svg);
}
.--icon-astronaut::before {
  background-image: url(../icons/icons-studio/icons-specials/astronaut.svg);
}

/* ---------- works list */
.works-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.works-list-item {
  position: relative;
}
.works-list-img {
  width: 100%;
}
.works-list-text {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 19%;
  margin: 0;
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* ---------- НАША КОМАНДА */
.section--team-bckgrnd-clr {
  background-color: #f5f4fa;
}

.worker-cards-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .worker-cards-list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/* --------- КАРТА ПРАЦІВНИКА */
.worker-card {
  display: block;
  background-color: #fff;
  width: 100%;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.worker-card .worker-name {
  font-weight: var(--text-wght-nrml2);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--tittle-clr-bold);
  margin: 0px;
  padding-top: 0px;
  margin-top: 30px;
  padding-bottom: 10px;
}
.worker-card .worker-position {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  color: var(--color-text-primary);
  margin: 0px;
  padding-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .worker-card {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .worker-card {
    width: calc((100% - 90px) / 4);
  }
}

/* ---------- ПОСТІЙНІ КЛІЄНТИ */
.partner-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.partner-list__item {
  width: calc((100% - 30px) / 2);
  min-height: 92px;
}
.partner-list .partner-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  fill: var(--fill-icon-svg);
  border: 1px solid var(--icons-clr-primary);
  border-radius: 4px;
  transition: border-color var(--anim-main-timing-function), fill var(--anim-main-timing-function);
}
.partner-list .partner-link:focus, .partner-list .partner-link:hover {
  border-color: var(--accent-clr-elmnts);
  fill: var(--accent-clr-elmnts);
}
.partner-list .partner-link__icon {
  width: 106px;
  height: 60px;
}
@media screen and (min-width: 768px) {
  .partner-list {
    flex-wrap: wrap;
  }
  .partner-list__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .partner-list {
    flex-wrap: nowrap;
  }
  .partner-list__item {
    width: 170px;
  }
}

/* ПОРТФОЛІО ФІЛЬТР */
.filtr-portfolio {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  column-gap: 8px;
  row-gap: 15px;
  margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .filtr-portfolio {
    justify-content: center;
  }
}

/* РОЗКЛАДКА РОБІТ */
.portfolio-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* --- карти портфоліо --- */
.portfolio-list__item {
  display: block;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .portfolio-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .portfolio-list__item {
    width: calc((100% - 60px) / 3);
  }
}

.portf-card {
  position: relative;
  display: block;
  width: 100%;
  background-color: #ffffff;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-card:focus, .portf-card:focus-within, .portf-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portf-card:focus .img-overlay-text, .portf-card:focus-within .img-overlay-text, .portf-card:hover .img-overlay-text {
  transform: translateY(0);
}

/* img overlay */
.img-overlay {
  position: relative;
  overflow: hidden;
}
.img-overlay-text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-overlay p {
  width: 322px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  letter-spacing: 0.03em;
  margin: 0;
}

/* нижній блок карти портфоліо */
.p-card-low-block {
  position: relative;
  z-index: 2;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #ffffff;
}
.p-card-tittle {
  color: var(--tittle-clr-bold);
  font-weight: var(--tittle-wght-bold);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  white-space: nowrap;
  margin: 0px;
  padding-bottom: 10px;
}
.p-card-text {
  color: var(--color-text-primary);
  font-size: 16px;
  line-height: 1.88;
  margin: 0px;
}

@media screen and (min-width: 481px) {
  .footer-box-for-tablet {
    display: flex;
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer-box-for-desktop {
    display: flex;
    align-items: baseline;
  }
}
/* КОНТАКТИ ФУТЕР */
.footer-contacts {
  line-height: 1.7;
  width: 232px;
  margin: 0 auto 0;
  text-align: center;
  /* address footer */
  /* email footer */
}
.footer-contacts__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-contacts .address {
  display: inline-block;
  color: #ffffff;
}
.footer-contacts .mail-ftr, .footer-contacts .tel-ftr {
  display: inline-block;
  color: var(--color-contacts-ftr);
  transition: color var(--anim-main-timing-fuction);
}
.footer-contacts .mail-ftr:focus, .footer-contacts .mail-ftr:hover, .footer-contacts .mail-ftr:active,
.footer-contacts .tel-ftr:focus,
.footer-contacts .tel-ftr:hover,
.footer-contacts .tel-ftr:active {
  color: var(--accent-clr-elmnts);
}
@media screen and (min-width: 768px) {
  .footer-contacts {
    margin: 0 auto 76px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-contacts {
    margin: 0 70px 0 0;
    text-align: start;
  }
  .footer-contacts__list:not(:last-child) {
    margin-bottom: 9px;
  }
}

/* ФОРМА ПІДПИСКИ footer */
.form-subscribe {
  display: block;
  width: 100%;
  max-width: 480px;
  margin: 60px auto 0;
  text-align: center;
}
.form-subscribe__tittle {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.form-subscribe__input {
  width: 100%;
  height: 50px;
  padding: 15px 16px;
  margin: 20px 0 20px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: border-color var(--anim-main-timing-function);
}
.form-subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.form-subscribe__input:focus, .form-subscribe__input:hover {
  border-color: var(--clr-btns-accent);
}
@media screen and (max-width: 1199px) {
  .form-subscribe .btn {
    margin: 0 auto 0;
  }
}
@media screen and (min-width: 768px) {
  .form-subscribe {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .form-subscribe {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 570px;
    margin: 0;
  }
  .form-subscribe__tittle {
    text-align: start;
  }
  .form-subscribe__input {
    width: 358px;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */