.btn {
  position: relative;
  cursor: pointer;

  text-align: center;
  vertical-align: middle;

  border: 1px solid transparent;

  transition: color var(--anim-main-timing-function), border-color var(--anim-main-timing-function),
    box-shadow var(--anim-main-timing-function), background-color var(--anim-main-timing-function),
    fill var(--anim-main-timing-function);
  //  велика синя
  &.--big-blue {
    font-weight: var(--tittle-wght-bold);
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #ffffff;

    min-width: 200px;
    max-width: fit-content;
    height: 50px;

    padding: 10px 32px;
    border-radius: 4px;
    fill: #ffffff;
    background-color: var(--clr-btns-hover);
    &:focus,
    &:hover {
      background-color: var(--clr-btns-hover);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    &:active {
      background-color: #ffffff;
      border-color: var(--clr-btns-hover);
      color: var(--clr-btns-hover);
      fill: var(--clr-btns-hover);
    }
    // Кнопка з іконкою
    &.--with-icon {
      display: flex;
      align-items: center;

      padding-right: 28px;
      padding-left: 28px;
      &:active {
        fill: var(--clr-btns-hover);
      }
    }
    & .--btn-icon-svg {
      width: 24px;
      height: 24px;
      margin-left: 10px;
    }
  }
  // кнопка мала синя
  &.--little-blue {
    color: var(--tittle-clr-bold);
    font-weight: var(--text-wght-nrml2);
    font-size: 16px;
    line-height: 1.6;

    padding: 6px 22px;
    margin: 0px;

    background-color: var(--clr-btns-nrml);
    &:focus,
    &:hover {
      background-color: var(--clr-btns-accent);
      color: #ffffff;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
    &:active {
      background-color: var(--clr-btns-nrml);
      color: var(--clr-btns-accent);

      border-color: solid var(--clr-btns-accent);
    }
    &.current {
      background-color: var(--clr-btns-accent);
      color: #ffffff;
    }
  }
  // відкриття мобі меню
  &.--burger-menu {
    width: 40px;
    height: 40px;

    padding: 12px 8px;
    border-radius: 4px;
    margin-left: auto;
    background-color: #ffffff;
    border-style: none;
    & svg {
      width: 24px;
      height: 16px;
    }
    &:focus,
    &:hover {
      fill: var(--clr-btns-accent);
    }
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
  // закриття модального вікна
  &.--close-modal {
    position: absolute;
    top: 8px;
    left: 90%;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);

    transition: box-shadow var(--anim-main-timing-function);
    &:focus,
    &:hover {
      fill: var(--clr-btns-accent);
    }
    & svg {
      width: 12px;
      height: 12px;
    }
  }
  // закриття мобільного меню
  &.--close-mobile-menu {
    display: block;
    position: absolute;
    top: 0;
    right: 0;

    width: 40px;
    height: 40px;

    padding: 10px;

    background-color: #fff;
    transition: fill var(--anim-main-timing-function);

    & svg {
      width: 20px;
      height: 20px;
    }
    &:focus,
    &:hover {
      fill: var(--clr-btns-accent);
    }
  }
  // соціальні кнопки
  &.--social {
    display: block;
    width: 44px;
    height: 44px;
    display: block;
    padding: 11px;
    border-radius: 50%;

    transition: background-color var(--anim-main-timing-function),
      fill var(--anim-main-timing-function);
    // соц кнопки футері
    &.--socials-footer {
      fill: #ffffff;
      background-color: rgba(255, 255, 255, 0.1);

      &:focus,
      &:hover {
        background-color: var(--clr-btns-accent);
      }
    }
    // соц кнопки у картах працівників
    &.--worker-card {
      background-color: #ffffff;
      fill: var(--fill-icon-svg);

      &:focus,
      &:hover {
        background-color: var(--clr-btns-accent);
        fill: #ffffff;
      }
    }
    & svg {
      display: block;
      width: 20px;
      height: 20px;
    }
  }
}
