/* СОЦІАЛЬНІ МЕРЕЖІ */
.socials {
  margin-top: 60px;
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  &__list {
    display: flex;
    align-items: center;
    gap: 10px;

    width: 206px;
  }
  &__tittle {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;

    margin-bottom: 20px;
    text-align: center;
  }
  transition: background-color var(--anim-main-timing-function),
    fill var(--anim-main-timing-function);

  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-right: auto;
  }
  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-left: 0;
    margin-right: 93px;
    &__tittle {
      text-align: start;
    }
  }
}
