/* --------- КОНТАКТНА ФОРМА --------- */
.form {
  display: flex;
  flex-direction: column;

  width: 100%;

  &-name {
    display: block;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 12px;
    color: #212121;
  }
  &-element-lebel {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
  }
  &-input {
    &__container {
      display: block;

      position: relative;

      // width: calc(100% - 80px);
      width: 100%;
      height: 40px;

      fill: #212121;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;

      transition: fill var(--anim-main-timing-function),
        border-color var(--anim-main-timing-function);
      &.--name {
        margin: 4px 0 10px;
      }
      &.--phone,
      &.--email {
        margin: 4px 0 10px;
      }
      &.--comment {
        height: 120px;
        margin: 4px 0 20px;
      }
      & .icon {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        top: 0;
        left: 0;

        padding-left: 12px;
        height: 100%;
      }
      & .icon svg {
        width: 18px;
        height: 18px;
      }
      &:focus-within,
      &:focus,
      &:hover {
        fill: var(--accent-clr-elmnts);
        border-color: var(--accent-clr-elmnts);
      }
    }
    &__field {
      position: relative;

      width: 100%;
      height: 100%;
      border: none;
      &.--name,
      &.--phone,
      &.--email {
        font-size: 14px;
        line-height: inherit;
        letter-spacing: inherit;

        padding: 13px 20px 13px 42px;
      }
      &.--coment {
        padding: 12px 16px;
        resize: none;
      }
    }
  }
  &__checkbox {
    &:checked {
      & + .form__checkbox--pseudo::before {
        background-image: url(../icons/icons-studio/icons-modal/icons-contacts-form/checked.svg);
      }
    }
    &--pseudo {
      display: block;
      position: relative;

      margin-bottom: 30px;

      cursor: pointer;

      & a {
        color: var(--accent-clr-elmnts);
        text-decoration: underline;

        &:focus {
          outline: 2px solid #212121;
        }
      }
      &::before {
        display: block;
        content: '';
        position: absolute;
        top: 0;
        left: -7px;
        width: 16px;
        height: 15px;
        transform: translateX(-100%);
        background-image: url(../icons/icons-studio/icons-modal/icons-contacts-form/nochecked.svg);

        .form__checkbox:focus + & {
          outline: 2px solid #212121;
        }
      }
    }
  }
}
