.logo {
  display: block;
  font-family: var(--font-fmly-logo);
  font-weight: var(--tittle-wght-bold);
  font-size: 24px;
  line-height: 1.2;

  color: var(--accent-clr-elmnts);
  &.hdr {
    padding: 16px 0 16px;

    & .black {
      color: #000000;
    }
  }
  &.ftr {
    margin: 0 auto 20px;

    & .--text-white {
      color: #ffffff;
    }
  }
  @media screen and (min-width: 768px) {
    &.hdr {
      padding: 26px 0 26px;
      margin-right: 88px;
    }
    &.ftr {
      margin: 0 0 20px;
    }
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    &.hdr {
      padding: 25px 0 25px;
      margin-right: 93px;
    }
  }
}
