/* МОБІЛЬНЕ МЕНЮ */
@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 101;

    padding: 10px 15px;

    background-color: #ffffff;

    outline: 1px solid tomato;
    &__container {
      position: relative;
      width: 100%;
      height: 100%;

      outline: 1px solid tomato;
    }
    & .btn__close {
      display: block;
      position: absolute;
      top: 0;
      right: 0;

      width: 40px;
      height: 40px;

      padding: 10px;

      background-color: #fff;
      transition: fill var(--anim-main-timing-function);

      & svg {
        width: 20px;
        height: 20px;
      }
      &:focus,
      &:hover {
        fill: var(--clr-btns-accent);
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
