/* МОБІЛЬНЕ МЕНЮ */
@media screen and (max-width: 768px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;

    width: 100%;
    height: 100%;
    padding: 10px 15px;

    background-color: #ffffff;
    overflow-y: auto;
    &__container {
      position: relative;
      width: 100%;
      height: 100%;
      padding-left: 8px;

      /*outline: 1px solid tomato;*/
    }
    & .mobile-menu__container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    & .nav-mobile {
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;

      letter-spacing: 0.02em;
      margin-bottom: auto;
      padding: 38px 0;
      /*outline: 1px solid tomato;*/
      &__item {
        &.--current {
          color: var(--accent-clr-elmnts);
        }
        &:not(last-child) {
          padding-bottom: 32px;
        }
      }
    }
    & .contacts__mobile {
    }
    & .tel-hdr {
      display: block;
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
      color: var(--accent-clr-elmnts);

      letter-spacing: 0.02em;

      margin-bottom: 32px;
    }
    & .mail-hdr {
      display: block;
      font-weight: 500;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.02em;

      margin-bottom: 64px;
    }
    & .socials-mobile {
      &__list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;

        margin-bottom: 28px;
      }
      &__item {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: var(--accent-clr-elmnts);
        padding: 0 10px 0;

        border-right: 1px solid rgba(33, 33, 33, 0.2);
        &:first-child {
          padding-left: 0;
        }
        &:last-child {
          border-color: transparent;
        }
      }
      // &__list:not(:last-child) {
      //   padding-right: 10px;
      //   border-right: 1px solid;
      // }
      // &__list:not(:first-child) {
      //   padding-left: 10px;
      // }
    }
  }
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
