/* ----------ГЕРОЙ */
.hero {
  background-color: #c4c4c4;
  height: 400px;
  width: 100%;
  max-width: 1600px;

  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images_hw8/hero_bckrnd/hero-mobile2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* ТЕКСТ ГЕРОЙ */
  &__hero-text {
    font-weight: var(--tittle-wght-bol2);

    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 26px;
    width: 355px;

    margin: 0px auto 28px;
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))
      url(../images_hw8/hero_bckrnd/hero-tablet.jpg);
  }
  @media screen and (min-width: 1200px) {
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images_hw8/hero_bckrnd/hero-desctop.jpg);

    &__hero-text {
      font-size: 44px;
      width: 605px;
    }
  }
}
/* ----------ОСОБЛИВОСТІ */
.specials-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__item {
    display: block;
    width: 100%;
    &::before {
      display: block;
      content: '';
      height: 120px;
      width: 100%;
      background-color: #f5f4fa;
      background-size: 70px 70px;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 4px;

      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &-tittles {
    font-weight: var(--tittle-wght-bold);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--tittle-clr-bold);
    margin-top: 0px;
    margin-bottom: 10px;
  }
  &__text {
    line-height: 1.7;
    margin: 0px;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
  }
}
.--icon {
  &-antena::before {
    background-image: url(../icons/icons-studio/icons-specials/antenna.svg);
  }
  &-clock::before {
    background-image: url(../icons/icons-studio/icons-specials/clock.svg);
  }
  &-diagram::before {
    background-image: url(../icons/icons-studio/icons-specials/diagram.svg);
  }
  &-astronaut::before {
    background-image: url(../icons/icons-studio/icons-specials/astronaut.svg);
  }
}

/* ---------- works list */
.works-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  display: none;

  &-item {
    position: relative;
  }
  &-img {
    width: 370px;
  }
  &-text {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 19%;

    margin: 0;

    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffffff;

    background-color: rgba(47, 48, 58, 0.8);
  }
}
// /* ----------НАША КОМАНДА */
// .team-bckgrnd-clr {
//   background-color: #f5f4fa;
// }
// .wrkr-cards-list {
//   display: flex;
//   gap: 30px;
// }
// /* КАРТА ПРАЦІВНИКА */
// .wrkr-card {
//   background-color: #fff;

//   width: 270px;
//   padding-bottom: 30px;
//   border-radius: 0px 0px 4px 4px;

//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);

//   & img {
//     padding-bottom: 30px;
//   }
//   & .wrkr-name {
//     font-weight: var(--text-wght-nrml2);
//     font-size: 16px;
//     line-height: 1.2;
//     text-align: center;
//     color: var(--tittle-clr-bold);

//     margin: 0px;
//     padding-top: 0px;
//     padding-bottom: 10px;
//   }
//   & .wrkr-position {
//     font-size: 16px;
//     line-height: 1.2;
//     text-align: center;
//     color: var(--color-text-primary);

//     margin: 0px;
//     padding-bottom: 16px;
//   }
// }
// /* СОЦІАЛЬНІ МЕРЕЖІ ПРАЦІВНИКІВ */
// .crd-socials-list {
//   display: flex;
//   column-gap: 10px;
//   align-items: center;

//   width: 206px;

//   margin-left: auto;
//   margin-right: auto;
//   &-link {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     // content: "";

//     width: 44px;
//     height: 44px;

//     fill: var(--fill-icon-svg);
//     background-color: #ffffff;
//     border-radius: 50%;

//     transition: background-color var(--anim-main-timing-function),
//       fill var(--anim-main-timing-function);

//     &:focus,
//     &:hover {
//       background-color: var(--clr-btns-accent);
//       fill: #ffffff;
//     }
//     & svg {
//       display: block;
//       width: 20px;
//       height: 20px;
//     }
//   }
// }
// /* ----------ПОСТІЙНІ КЛІЄНТИ */
// .partner-list {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-wrap: wrap;

//   gap: 30px;

//   width: 100%;
//   & .partner-link {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     min-width: 170px;
//     height: 92px;

//     // fill: currentColor;
//     fill: var(--fill-icon-svg);

//     border: 1px solid var(--icons-clr-primary);
//     border-radius: 4px;

//     transition: border-color var(--anim-main-timing-function), fill var(--anim-main-timing-function);
//     &:focus,
//     &:hover {
//       border-color: var(--accent-clr-elmnts);
//       fill: var(--accent-clr-elmnts);
//     }
//     & .icon-partner {
//       width: 106px;
//       height: 60px;

//       flex-basis: 160px;
//       flex-grow: 5;
//     }
//   }
// }
