/* ----------ГЕРОЙ */
.hero {
  background-color: #c4c4c4;
  min-height: 400px;
  width: 100%;
  // max-width: 1600px;

  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-left: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images_hw8/hero_bckrnd/hero-mobile2x.jpg);
  /* ТЕКСТ ГЕРОЙ */
  &__hero-text {
    font-weight: var(--tittle-wght-bol2);

    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 26px;
    max-width: 355px;

    margin: 0px auto 28px;
  }

  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4))
      url(../images_hw8/hero_bckrnd/hero-desctop.jpg);
  }
  // @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  // }
  @media screen and (min-width: 1200px) {
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images_hw8/hero_bckrnd/img_hero.jpg);

    &__hero-text {
      font-size: 44px;
      max-width: 605px;
    }
  }
}
/* ----------ОСОБЛИВОСТІ */
.specials-list {
  display: flex;
  flex-direction: column;
  gap: 30px;

  &__item {
    display: block;
    width: 100%;
    &::before {
      display: block;
      content: '';
      height: 120px;
      width: 100%;
      background-color: #f5f4fa;
      background-size: 70px 70px;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 4px;

      margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
      width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }
  &__tittles {
    font-weight: var(--tittle-wght-bold);
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--tittle-clr-bold);
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  &__text {
    text-align: center;

    line-height: 1.7;
    margin: 0px;
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 768px) {
    &__tittles {
      text-align: start;
    }
    &__text {
      text-align: start;
    }
  }
}
.--icon {
  &-antena::before {
    background-image: url(../icons/icons-studio/icons-specials/antenna.svg);
  }
  &-clock::before {
    background-image: url(../icons/icons-studio/icons-specials/clock.svg);
  }
  &-diagram::before {
    background-image: url(../icons/icons-studio/icons-specials/diagram.svg);
  }
  &-astronaut::before {
    background-image: url(../icons/icons-studio/icons-specials/astronaut.svg);
  }
}
/* ---------- works list */
.works-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  &-item {
    position: relative;
  }
  &-img {
    width: 100%;
  }
  &-text {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 19%;

    margin: 0;

    text-transform: uppercase;
    white-space: nowrap;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffffff;

    background-color: rgba(47, 48, 58, 0.8);
  }
}
/* ---------- НАША КОМАНДА */
.section--team-bckgrnd-clr {
  background-color: #f5f4fa;
}
.worker-cards-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
/* --------- КАРТА ПРАЦІВНИКА */
// ======================!!!!!!!!!!!!
.worker-card {
  display: block;
  background-color: #fff;

  width: 100%;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  & .worker-name {
    font-weight: var(--text-wght-nrml2);
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--tittle-clr-bold);

    margin: 0px;
    padding-top: 0px;
    margin-top: 30px;
    padding-bottom: 10px;
  }
  & .worker-position {
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: var(--color-text-primary);

    margin: 0px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}
/* ---------- ПОСТІЙНІ КЛІЄНТИ */
.partner-list {
  display: flex;

  flex-wrap: wrap;
  gap: 30px;
  &__item {
    width: calc((100% - 30px) / 2);
    min-height: 92px;
  }
  & .partner-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    fill: var(--fill-icon-svg);

    border: 1px solid var(--icons-clr-primary);
    border-radius: 4px;

    transition: border-color var(--anim-main-timing-function), fill var(--anim-main-timing-function);
    &:focus,
    &:hover {
      border-color: var(--accent-clr-elmnts);
      fill: var(--accent-clr-elmnts);
    }
    &__icon {
      width: 106px;
      height: 60px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    &__item {
      // width: 226px;
      width: calc((100% - 60px) / 3);
    }
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    &__item {
      width: 170px;
    }
  }
}
