:root {
  --accent-clr-elmnts: #2196f3;
  --clr-btns-accent: #2196f3;
  --clr-btns-hover: #188ce8;
  --clr-btns-nrml: #f5f4fa;
  --color-contacts-ftr: rgba(255, 255, 255, 0.6);
  --color-text-primary: #757575;
  --tittle-clr-bold: #212121;
  --fill-icon-svg: #afb1b8;
  --icons-clr-primary: #afb1b8;

  --font-fmly-logo: 'Raleway', sans-serif;
  --text-wght-nrml: 400;
  --text-wght-nrml2: 500;
  --tittle-wght-bold: 700;
  --tittle-wght-bol2: 900;

  --anim-main-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  --test-outline: 1px solid tomato;

  --1-brckpnt: 480px;
  --2-brckpnt: 768px;
  --3-brckpnt: 1200px;
}
